<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <title>Document</title>
</head>

<body>
    <main>
        <div class="top-bar"></div>
        <div id="app" class="app-container">

            <div class="messages-container">
                <div class="toggle-bar">
                    <div class="image-user">
                        <img src="boolzap-img/avatar_io.jpg">
                        <h5>Username</h5>
                    </div>
                    <div class="toggles">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="notifications">
                    <i class="fas fa-bell-slash"></i>
                    <span>Ricevi notifiche di nuovi messaggi</span>
                </div>
                <div class="search-bar">
                    <div class="lens-btn">
                        <i class="fas fa-search"></i>
                    </div>
                    <input type="text" placeholder="Cerca o inizia una nuva chat">
                </div>
                <div v-for="(contact, i) in contacts" :class="{ 'active': i== activeIndex}" class="chat" @click="setActive(i)">
                    <img :src=" 'boolzap-img/avatar' + contact.avatar + '.jpg' ">

                    <div class="text ">
                        <h4 class="nome ">{{contact.name}}</h4>
                        <span class="last ">{{ getLastMessageText(i) }}</span>
                    </div>
                    <div class="data ">
                        {{ getLastMessageData(i) }}
                    </div>

                </div>

            </div>
            <div class="active-chat ">
                <div class="toggle-bar ">
                    <div class="contact">
                        <img :src=" 'boolzap-img/avatar' + contacts[activeIndex].avatar + '.jpg' " alt="">
                        <div class="text">
                            <h4 class="name">{{contacts[activeIndex].name}}</h4>
                            <div class="data"> Ultimo accesso {{ getLastMessageData(activeIndex) }}</div>
                        </div>
                    </div>
                </div>
                <div class="chat-wallpaper ">
                    <div class="baloon" v-for="text in contacts[activeIndex].messages" :class="text.status">
                        <p>{{ text.text }}</p>
                        <span class="data">{{ text.date }}</span>
                    </div>
                </div>
                <div class="chat-type "></div>
            </div>
        </div>
    </main>
    <script src="script/script.js "></script>
</body>

</html>