* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    background-color: #DADBD4;
    height: 100vh;
    z-index: 0;
    font-family: 'Roboto', sans-serif;
}

main .top-bar {
    position: absolute;
    width: 100%;
    height: 17vh;
    background-color: #479789;
    z-index: 1;
}

.app-container {
    position: absolute;
    display: flex;
    width: 80%;
    height: 90vh;
    left: 50%;
    transform: translateX(-50%);
    margin: 3rem auto;
    background-color: white;
    z-index: 5;
}

.messages-container {
    align-items: flex-start;
    width: 35%;
    height: 100%;
}

.active-chat {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
    background-image: url('../boolzap-img/mine.jpg');
    background-size: contain;
    background-repeat: repeat;
    height: 100%;
}

.toggle-bar {
    position: relative;
    z-index: 9;
    height: 60px;
    background-color: #EAEAEA;
}

.messages-container .toggle-bar {
    border-right: 1px solid #b6b6b6;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.messages-container .toggle-bar img {
    height: 100%;
    border-radius: 50%;
}

.messages-container .toggle-bar .image-user {
    width: 20%;
    padding: .5rem;
    line-height: 100%;
    display: flex;
    align-items: center;
}

.messages-container .toggle-bar .toggles {
    align-self: center;
    width: 30%;
    text-align: end;
    padding: .5rem;
}

.toggles i {
    color: grey;
    padding: .5rem;
}

.chat-type {
    height: 60px;
    background-color: white;
}

.notifications {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #8EDAFC;
}

.notifications i {
    font-size: 16px;
    color: #8EDAFC;
    background-color: white;
    border-radius: 50%;
    padding: 1rem;
    margin: 1.2rem;
}

.notifications span {
    font-weight: 300;
    font-size: 10px;
}

.search-bar {
    display: flex;
    justify-content: space-around;
    padding: .5rem;
    background: #FAFAFA;
}

.search-bar .lens-btn {
    display: inline-block;
    color: grey;
    background-color: white;
    width: 19%;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.search-bar input {
    width: 80%;
    border: none;
}

.chat {
    display: flex;
    height: 60px;
    border-top: 2px solid #FAFAFA;
    cursor: pointer;
}

.chat:hover {
    background-color: #FAFAFA;
}

.chat img {
    border-radius: 50%;
    margin: 0.5rem 1rem;
}

.text {
    width: 50%;
    padding: .5rem;
}

.text h4 {
    font-weight: 300;
}

.text span {
    color: rgb(184, 182, 182);
    font-weight: 300;
    font-size: 10px;
}

.data {
    text-transform: uppercase;
    font-size: 8px;
    color: lightgrey;
    padding: .5rem;
}

.toggle-bar .contact {
    display: flex;
    max-height: 60px;
}

.contact img {
    height: 60px;
    padding: .5rem;
    border-radius: 50%;
}

.contact .data {
    color: grey;
    text-transform: none;
    font-size: 10px;
    padding-left: 0;
}

.chat-wallpaper {
    position: relative;
    top: -150px;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}

.sent {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 20px;
    max-width: 80%;
    min-height: 40px;
    align-self: flex-end;
    background-color: #D5F9BA;
    border-radius: 5px;
    margin-top: .5rem;
    margin-right: 1rem;
    padding: 1rem;
    padding-right: 5rem;
}

.received {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 20px;
    max-width: 80%;
    min-height: 50px;
    align-self: flex-start;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-top: .5rem;
    margin-left: 1rem;
    padding: 1rem;
    padding-right: 5rem;
}

.sent p,
.received p {
    width: 100%;
    font-size: 12px;
}

.sent .data,
.received .data {
    position: absolute;
    bottom: 0;
    right: 0;
    color: grey;
}